.skill {
    margin-bottom: 20px;
    background-color: white;
}

b {background: rgb(255,168,76); /* Old browsers */
background: -moz-linear-gradient(top, rgba(255,168,76,1) 0%, rgba(255,123,13,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(255,168,76,1) 0%,rgba(255,123,13,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(255,168,76,1) 0%,rgba(255,123,13,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffa84c', endColorstr='#ff7b0d',GradientType=0 );}

.skill-header {
    background-color: #ff6600;
    border: 1px solid rgb(231, 230, 230);
    padding: 8px 10px;
    /* border-radius: 5px;
    border-radius: 5px 5px 0 0; */
    border-right: 2px solid #eee;
    position: relative;
}

.skill-header * {
    display: inline-block;
}

.skill-image {
    width: 52px;
    height: 52px;
    border: 3px solid orange;
    border-radius: 5px;
}

.skill-name {
    /* color:orangered; */
    color: white;
    font-weight: bold;
    text-align: center;
    font-variant: all-small-caps;
    text-transform: capitalize;
    font-size: 22px;
    margin: 0 15px;
}

.skill-body {
    /* display: none; */
    /* width: 95%; */
    border: 1px solid rgb(231, 230, 230);
    border-top: 0;
    margin: 0 auto;
    /* border-radius: 0 0 5px 5px; */
    padding: 8px 10px 15px 10px;
    border-bottom: 2px solid #eee;
    border-right: 2px solid #eee;
}

.skill-kind {
    position: absolute;
    right: 0;
    top: 0;
    border-radius: 0;
    border-bottom-left-radius: 5px;
}

.skill-active {
    background-color: rgb(190, 29, 29);
}

.skill-passive {
    background-color: rgb(92, 92, 92);
    /* background-color: rgb(29, 85, 190); */
}