.navbar-default {
    background-color: white;
    border-bottom: 3px solid #ff6600;
}

.thumbnail {
    border-width: 2px;
    /* border-color: #ff6600; */
    padding: 0;
}

.thumbnail:hover {
    border-color: #ff6600;
}

.thumbnail .caption {
    padding: 0px;
}

.caption h3 {
    font-size: 32px;
    text-align: center;
    margin: 0;
    margin-bottom: 10px;
    /* background-color: #ff6600; */
    border-bottom: 2px solid rgb(231, 230, 230);
    padding: 5px 0;
    color: #ff6600;
}

.caption p {
    padding: 5px 10px;
    text-justify: justify;
}

a.class-skills {
    text-decoration: none;
}
/* 
a.class-skills:hover h3 {
    color: whitesmoke;
} */
