/* Cover */
.class {
    padding-top: 250px;
}

.class-cover {
    background-size: cover;
    position: absolute;
    right: 0;
    left: 0;
    top: 69px;
    height: 250px;
}

.class-name {
    width: 100%;
    text-align: center;
    color: white;
    font-size: 72px;
    line-height: 224px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);
    font-family: 'Cinzel', serif;
    font-weight: bold;
}

/* Skills */
.gradient-orange-light {
    background: #ff6600; /* Old browsers */
    background: -moz-radial-gradient(100% top left, ellipse cover, #ff6600 0%, #fc6d0e 37%, #ff7620 58%,#ff4800 70%,#ff7620 80%); /* FF3.6-15 */
    background: -webkit-radial-gradient(100% at top left, ellipse cover, #ff6600 0%,#fc6d0e 37%,#ff7620 58%,#ff4800 70%,#ff7620 80%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at top left, #ff6600 0%,#fc6d0e 37%,#ff7620 58%,#ff4800 70%, #ff7620 80%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff6600', endColorstr='#fb955e',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.gradient-orange {
    background: #ff6600; /* Old browsers */
    background: -moz-radial-gradient(100% top left, ellipse cover, #ff6600 0%, #ff4800 37%, #ff4800 58%,#fc6d0e 70%,#ff7620 80%); /* FF3.6-15 */
    background: -webkit-radial-gradient(100% at top left, ellipse cover, #ff6600 0%,#ff4800 37%,#ff4800 58%,#fc6d0e 70%,#ff7620 80%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at top left, #ff6600 0%,#ff4800 37%,#ff4800 58%,#fc6d0e 70%, #ff7620 80%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff6600', endColorstr='#fb955e',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.skill {
    margin-bottom: 20px;
    background-color: white;
}

.skill-header {
    background-color: #ff6600;
    border: 1px solid rgb(231, 230, 230);
    padding: 8px 10px;
    border-right: 2px solid #eee;
    position: relative;
}

.skill-header * {
    display: inline-block;
}

.skill-image {
    width: 52px;
    height: 52px;
    border: 3px solid orange;
    border-radius: 5px;
}

.skill-name {
    color: white;
    font-weight: bold;
    font-variant: all-small-caps;
    text-transform: capitalize;
    font-size: 22px;
    line-height: 22px;
    overflow-wrap: break-word;
    max-width: 220px;
    margin: 0 0 0 15px;
    vertical-align: middle;
}

.skill-body {
    border: 1px solid rgb(231, 230, 230);
    border-top: 0;
    margin: 0 auto;
    padding: 8px 10px 15px 10px;
    border-bottom: 2px solid #eee;
    border-right: 2px solid #eee;
}

.skill-kind {
    position: absolute;
    right: 0;
    top: 0;
    border-radius: 0;
    border-bottom-left-radius: 5px;
}

.skill-active {
    background-color: rgb(190, 29, 29);
}

.skill-passive {
    background-color: rgb(29, 85, 190);
}

.skill-type {
    text-align: center;
    background-color: white;
    padding: 12px;
    border-radius: 5px;
    border: 1px solid #eee;
    border-bottom: 3px solid #eee;
}

/* Subclasses */
.subclass {
    background-color: white;
    padding: 10px;
    border: 1px solid #eee;
}

.mdb-bar {
    display: block;
    height: 14px;
    margin-bottom: 4px;
    width: 92%;
}

div.mdb-bar > span {
    display: inherit;
    height: inherit;
    font-size: 10px;
    line-height: 15px;
    color: white;
    font-weight: bold;
    padding: 0 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.attack {
    background-color: blue;
}

.hp {
    background-color: red;
}

.coop {
    background-color: gold;
}

.subclass.footer {
    border-top: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    text-align: justify;
    border-bottom: 3px solid #eee;
}

.subclass-name {
    font-size: 24px;
}

.subclass-equipment {
    font-size: 12px;
    background-color: rgb(36, 56, 77);
    border-radius: 3px;
    padding: 2px 5px;
    color: gold;
    margin: 5px;
}

.main-stat,
.main-weapon {
    color: white;
}