.subclass {
    background-color: white;
    padding: 10px;
    border: 1px solid #eee;
}

.mdb-bar {
    display: block;
    height: 8px;
    margin-bottom: 4px;
    width: 92%;
}

div.mdb-bar > span {
    display: inherit;
    height: inherit;
}

.attack {
    background-color: blue;
}

.hp {
    background-color: red;
}

.coop {
    background-color: gold;
}

.subclass.footer {
    border-top: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    text-align: justify;
    border-bottom: 3px solid #eee;
}

.subclass-name {
    font-size: 24px;
}

.subclass-equipment {
    font-size: 16px;
}