.artifact-title {
    background: #ff6600; /* Old browsers */
    background: -moz-radial-gradient(100% top left, ellipse cover, #ff6600 0%, #ff4800 37%, #ff4800 58%,#fc6d0e 70%,#ff7620 80%); /* FF3.6-15 */
    background: -webkit-radial-gradient(100% at top left, ellipse cover, #ff6600 0%,#ff4800 37%,#ff4800 58%,#fc6d0e 70%,#ff7620 80%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at top left, #ff6600 0%,#ff4800 37%,#ff4800 58%,#fc6d0e 70%, #ff7620 80%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff6600', endColorstr='#fb955e',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    color: white;
    font-family: 'Cinzel', serif;
    text-transform: uppercase;
    font-variant: small-caps;
    padding-top: 5px;
    padding-left: 5px;
    border-bottom-left-radius: 5px;
}

.artifact > div {
    display: inline-block;
}

.artifact-content {
    position: absolute;
    top: 0;
}

.artifact-info {
    padding: 4px 6px;
}

span.amount-per-level {
    background-color: green;
    padding: 2px 5px;
    border-radius: 3px;
}