.stage {
    background-color: white;
    padding: 12px;
    border-radius: 5px;
    border: 1px solid #eee;
    border-bottom: 3px solid #eee;
    margin-bottom: 10px;
    position: relative;
}

.stage:hover {
    background-color: whitesmoke;
}

.stage > div {
    display: inline-block;
}

.stage-id {
    width: 50px;
    text-align: center;
    padding: 10px 0;
    padding-right: 12px;
    vertical-align: super;
    font-size: 28px;
    line-height: 28px;
}

.stage-body {
    border-left: 2px solid #ff6000;
    padding: 10px 0;
    padding-left: 12px;
}

.gold {
    background-color: gold;
    border-color: goldenrod;
}