.navbar-default {
    background-color: white;
    border-bottom: 3px solid #ff6600;
    /* background-image: url('https://i.pinimg.com/736x/4e/80/8b/4e808bf0857794ae2b6a14e98ac924ae--geometric-patterns-textures-patterns.jpg'); */
    background-repeat: repeat;
}